<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>

<body>
    <div class="mainContainer">
        <img th:src="@{/images/logo.gif}">
        <div style="margin-bottom: 10px;">
            Привет, сегодня <b th:text="${time}"></b>. А это отличное время, чтобы сделать угарчик
        </div>
        <input type="file" id="imageLoader" accept="image/png, image/jpeg">
        <div class="imagesView">
            <div class="imageContainer">
                <img class="imageInContainer" id="loadedImage">
            </div>
            <div id="spinner">
                <div id="spinner-item"></div>
            </div>
            <div class="imageContainer" id="processedImageContainer">
                <img class="imageInContainer" id="processedImage">
            </div>
        </div>

        <div class="settingsContainer">
            <select name="effect" id="effectSelector" style="width: 100%;">
                <option value="" selected disabled hidden>Выбирете эффект</option>
                <option value="SeamCarving">Seam carving</option>
                <option value="Monochrome">Monochrome</option>
            </select>
            <div>
                <p id="widthTextVal">Ширина изображения: </p>
                <input type="range" max="0" name="Width" id="widthRange">
            </div>
            <div>
                <p id="heightTextVal">Высота изображения:</p>
                <input type="range" max="0" name="Width" id="heightRange">
            </div>
            <div>
                <span>Сохранить размер изображения:</span>
                <input type="checkbox" id="saveImageScale">
            </div>
            <button name="Start" id="submitButton" disabled>Обработать изображение</button>
        </div>
    </div>
    <script th:src="@{/script/script.js}"></script>
</body>

</html>